* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

body {
  background: #985ace;
}

.App {
  display: flex;
  justify-content: center;
  height: 100vh;
}

form {
  margin: auto;
}

h3 {
  color: #ffffff;
  font-weight: normal;
  font-size: 140px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f8f1ff inset !important;
}

button {
  width: 273px;
  height: 40px;
  font-family: "HelveticaNeue";
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  background: #985ace;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  margin: 37px auto 32px;
}

button:hover {
  opacity: 0.7;
}

button:disabled {
  cursor: not-allowed;
  background: grey;
}

.main-page-container {
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  width: 458px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.17);
  border-radius: 30px;
}
.form-title {
  font-family: "HelveticaNeue";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding: 87px 0 40px 0;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error-page-text {
  color: white;
  line-height: 19px;
}
.error-page-link {
  color: #4285f4;
  font-size: 14px;
  text-decoration: none;
}

.contact {
  height: 96px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}

input {
  height: 40px;
  margin-top: 10px;
}

span {
  font-size: 12px;
  color: #ee3465;
  margin-top: 8px;
}

.main-page-heading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.main-page-logout-block:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;
}

.MuiButton-root {
  background: #ffffff !important;
  color: black !important;
}
